@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
         url("../assets/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("../assets/fonts/Inter-Light.woff2") format("woff2"),
         url("../assets/fonts/Inter-Light.woff") format("woff");
}

.presentation{
    background-image: url(../assets/pexels-matheus-bertelli-3856026.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

* {
    font-family: 'Inter';
}

h1{
    color: white;
    font-weight: 700;
    text-shadow: 5px 3px rgba(0, 128, 128, 0.6);
    font-size: 4rem;

    padding: 0 25vw;
}

.titulo p{
    margin-top: 24px;
    
    color: rgb(216, 216, 216);
    font-weight: 300;
    font-size: 28px;
    text-shadow: 1px 1px rgba(0, 128, 128, 0.8);
}



.options-register article{
    width: auto;
    height: 100%;

    background-color: rgba(0, 128, 128, 0.8);
    border-radius: 16px;

    transition: all 0.5s;
}

.options-register article:hover{
    background-color: rgba(0, 128, 128);
}

.options-register a{
    display: inline-block;
    width: 20vw;
    height: 12vw;
    min-width: 350px;
    min-height: 200px;
    margin: 5vw;

    text-decoration: none;
}

.options-register article img{
    width: 35%;
    margin-top: 8%;
}

.options-register article h2{
    font-weight: 700;
    color: white;
}

.titulo-usar{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
}

.card{
    margin: 50px 100px;
}
