.generaldiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imglogin{
    width: 50%;
}
.iniciotitel{
    color:rgba(14,110,254,255) ;
    text-align: center;
    margin-top: 1%;
}
.inputlogin{
    border: 0;
    background-color: aqua;
    margin: 2%;
    outline: 0;
    outline-color: tomato;
} 

.loginfrom{
    width: 30%;
}
.buttoninciar{
    width: 100%;
    margin: 2%;
}
.buttonregistro{
    width: 100%;
    margin: 2%;
    
}

