body {
    background: #0c6cfe;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0d6efd

}

.profile-button {
    background: #2596be;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #2596be
}

.profile-button:focus {
    background: #2596be;
    box-shadow: none
}

.profile-button:active {
    background: #2596be;
    box-shadow: none
}

.back:hover {
    color: #2596be;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #2596be;
    color: #fff;
    cursor: pointer;
    border: solid 1px #2596be
}