<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/colaborador.css">
    <link rel="stylesheet" href="../css/general.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./homeColaborador.html">Inicio</a>
                <li class="nav-item">
                    <a class="nav-link" href="./colaborador.html">perfil</a>
                  </li>
              </li>
            </ul>

            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" onclick="deslogearse()" href="../index.html">Cerrar sesion</a>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
    </nav>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> <button class="btn btn-primary profile-button" type="button">Cambiar</button><p></p><button class="btn btn-primary profile-button" type="button">Eliminar</button></span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Nombre </label><input type="text" class="form-control" placeholder="Nombre" value=""><button class="btn btn-primary profile-button" type="button">Cambiar</button></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email </label><input type="text" class="form-control" placeholder="Email" value=""><button class="btn btn-primary profile-button" type="button">Cambiar</button></div>
                        <div class="col-md-12"><label class="labels">Contraseña</label><input type="text" class="form-control" placeholder="Contraseña" value=""><button class="btn btn-primary profile-button" type="button">Cambiar</button></div>
                    </div>
                    <div class="row mt-3">
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Guardar</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <h3>Requisitos</h3>
                    <p>Filtros de componentes para</p>
                    <div class="d-flex justify-content-between align-items-center experience"><span></span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Stremear</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Videojuegos</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Diseño</span></div><br>
                    <p>Requisitos Recomendados de</p>
                    <div class="d-flex justify-content-between align-items-center experience"><span></span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;FPS/Battleroyale</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Indie</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Triple A</span></div><br>  
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="../js/login.js"></script>
</body>
</html>